{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="text-primary text-xl mb-2 dark:text-dark-text lg:text-2xl">Titulo do vídeo: {{ video.title }}</h1>
    <div class="relative w-full h-0 pb-[56.25%] lg:pb-[50%]"> {# 16:9 aspect ratio #}
        <iframe
                src="https://www.youtube-nocookie.com/embed/{{ video.videoId }}"
                title="{{ video.title }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                class="absolute top-0 left-0 w-full h-full bg-white p-2 shadow-md"
        ></iframe>
    </div>
{% endblock %}
