@import "tailwindcss";


@theme {

    /*global*/
    --color-button-light: #DEDEDE;
    --color-button-hover: #C4C4C4;
    --color-placeholder: #6B6B6B;

    /*Theme ligth*/
    --color-primary: #214064;
    --color-background: #EBEBEB;



    /*Theme dark*/
    --color-dark-background: #101524;
    --color-dark-primary: #1B2C40;
    --color-dark-text: #E0E0E0;
    --color-dark-input: #434343;
}
