{% extends 'base.html.twig' %}

{% block main %}

    <h1 class="mt-12 text-2xl text-center text-primary font-bold dark:text-dark-text">Treinamento</h1>

    <div class="flex flex-col gap-12 items-center justify-center text-primary mt-28 w-full dark:text-dark-text">
        <a href="{{ path('training_listar') }}"
           class="text-lg w-1/6 h-20 px-4 py-2 gap-4 bg-primary rounded-md flex items-center justify-around text-dark-text shadow-md transition-all duration-150 ease-in-out transform active:scale-95 active:shadow-lg">
            <i class="fa-solid fa-list-ul"></i> Listar
        </a>
        <a href="{{ path('training_new') }}"
           class="text-lg w-1/6 h-20 px-4 py-2 gap-4 bg-primary rounded-md flex items-center justify-around text-dark-text shadow-md transition-all duration-150 ease-in-out transform active:scale-95 active:shadow-lg">
            <i class="fa-solid fa-file-circle-plus"></i> Cadastrar
        </a>
    </div>

{% endblock %}